<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aqua.css') }}">
</head>
<body>
    <header>
        <div class="nav">
            <h1>MiiSecure</h1>
            <nav>
                <a href="/">Home</a>
            </nav>
        </div>
    </header>

    <main>
        <h1>404</h1>
        <p>This page has sunk into the depths of the web... 🌊</p>
        <a href="/">Rise to the surface</a>
    </main>

    <footer>
        <p>Created by Link3DS Contributors with ❤️.</p>
    </footer>
</body>
</html>