<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiiSecure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aqua.css') }}">
</head>
<body>
    <header>
        <div class="nav">
            <h1>MiiSecure</h1>
            <nav>
                <a href="/">Home</a>
            </nav>
        </div>
    </header>

    <main>
        <h2>MiiSecure</h2>
        <p class="subtitle">A simple service to preserve Nintendo history by backing up as much NNIDs as we can.</p>
        <p><em>Currently hosting <strong>10 NNIDs</strong>!</em></p>

        <div class="search-box">
            <input type="text" placeholder="Link3DS Network ID">
            <button title="Search">🔍</button>
        </div>
    </main>

    <footer>
        <p>Created by Link3DS Contributors with ❤️.</p>
    </footer>
</body>
</html>